.navbar {
  background: #266f8c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin-bottom: 20px;
}

.nav_logo {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  font-variation-settings: "wdth" 100;
  color: #0b1e26;
}

.nav_items a {
  margin: 15px;
  color: #0b1e26;
  position: relative;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

.nav_toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .nav_items {
    display: flex;
    flex-direction: column;
  }
}
